footer {
  background-color: #29292A;
}

.footer_contactTitle {
  color: #7F8C8D;
  font-size: 28px;
  text-align: center;
  font-weight: lighter;
  margin-top: 50px;
}

.footer_email {
  color: #9CC255;
  text-align: center;
}

.footer_list {
  list-style: none;
  font-size: 14px;
}

.footer_list li {
  line-height: 42px;
}

.footer_list a {
  color: #9CC255;
  text-decoration: none;
}

.footer_list_title {
  text-transform: uppercase;
  color: #7F8C8D;
  padding-bottom: 20px;
}

