footer {
  background-color: #29292A;
  margin: 0;
  padding: 0;
}

.footer_contactTitle {
  color: $textcolor1;
  font-size: 28px;
  text-align: center;
  font-weight: lighter;
  margin-top: 50px;
}

.footer_email {
  color: $textcolor2;
  text-align: center;
}

.footer_list {
  list-style: none;
  font-size: 14px;
}

.footer_list li {
  line-height: 42px;
}

.footer_list a {
  color: $textcolor2;
  text-decoration: none;
}

.footer_list_title {
  text-transform: uppercase;
  color: $textcolor1;
  padding-bottom: 20px;
}

.footer_list_icon {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer_list_icon li {
  padding: 30px;
}

.facebook {
  color: #3E5294;
}

.twitter {
  color: #1DA1F2;
}

.linkedin {
  color: #0065A1;
}

.google {
  color: #DB4437;
}

.footer_icon p {
  color: #7F8C8D;
  font-size: 13px;
  text-align: center;
}

.footer_button{
  display: flex;
  justify-content: center;

}

.footer_button button {
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 60px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(270deg, rgba(168,189,39,1) 13%, rgba(112,200,74,1) 79%);
  color: white;
  cursor: pointer;
}

.footer_copyright {
  color: $textcolor1;
  text-align: center;
  padding-bottom: 30px;
}

/*@media only screen and (max-width: 1024px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}*/

@media only screen and (max-width: 768px){
  margin-top: 200px;
}