.instruction {
  margin-top: 100px;
}
.instruction_textContent_title {
  font-size: 48px;
  font-weight: lighter;
  color: #29292A;
}

.instruction_textContent h3 {
  margin: 30px 0 10px;
}

.instruction_textContent p {
  color: #7F8C8D;
  font-size: 16px;
}

.instruction_imgContent img{
  width: 100%;
}