.newsletter_text {
  font-size: 48px;
}

.newsletter_send {
  display: flex;
  align-items: center;
  height: 100%;
}
.newsletter_send_content {
  display: flex;
  align-items: center;
  position: relative;
}

.newsletter_send_btn {
  position: absolute;
  left: 85%;
  height: 50px;
  width: 290px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  background: linear-gradient(270deg, rgba(168,189,39,1) 13%, rgba(112,200,74,1) 79%);
  box-shadow: 0 10px 20px 0 rgba(112,200,74,0.5);
  color: white;
  cursor: pointer;
}

.newsletter_send input {
  height: 50px;
  min-width: 400px;
  padding-left: 10px;
  border-radius: 25px;
  border: none;
  background-color: #FAFBFB;
}

.newsletter_send input:focus {
  outline: none;
}

@media only screen and (max-width: 1024px){
  .newsletter_send_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px){
  /*.newsletter_send input{}
  .newsletter_send_btn {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 400px;
  }*/
  /*.newsletter_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }*/

  .newsletter_send {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .newsletter_text {
    text-align: center;
  }


  .newsletter_send_btn {
    position: static;
    min-width: 400px;
    margin-top: 10px;
  }
  .newsletter_send_content {
    display: flex;
    flex-direction: column;
  }
}