.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.slider_active{
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: -1px 13px 91px 9px rgba(0,0,0,0.3);
}

.slider_active_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
}

.slider_active_text_content {
  padding-left: 30px;
}

.slider_active_signature {
  padding-left: 30px;

  h3 {
    color: #70c84a;
  }
}

.slider_active_text_img {
  height: auto;
  width: 150px;
}

.slider_active_text_content {
  font-size: 22px;
  color: #7F8C8D;
  line-height: 36px;
}

.slider_active_img {
  width: 35%;
}

.slider_btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
